<launch>

    <include file="$(find ros_essentials_cpp)/src/topic02_motion/launch/turtlesim_teleop.launch" />

    <param name="x_goal" value="3.0"/>
    <param name="y_goal" value="1.0"/>

    <node pkg="ros_essentials_cpp" type="turtlesim_cleaner.py" name="turtlesim_cleaner_node" output="screen" />

</launch>